<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thecarmakeproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheCarMakeProject">
        <activity
            android:name=".AdvancedLevel"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".CarImageActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".HintsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Identify_car"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>